

/* ==========================
      LOAD SCREEN
========================== */
.loader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: cover;
  video#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-color: white;
  }
}

/* ==========================
      VIDEO STYLES
========================== */

.full-bg-video {
  //  position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
}

@include breakpoint(medium) {
  video {
    background-color: white;
    position: fixed;
    left: 0; 
    bottom: 0;
    width: auto; 
    height: auto;
    object-fit: fill;
    z-index: 1;
  }
}


/* ==========================
      INDEX STYLES
========================== */

.home-content {
  position: relative;
  h2, h3 {
    color: white;
  }
  h5 {
    color: $orange;
    font-family: $work;
    @include breakpoint(large) {
      font-size: 2.1em;
    }
  }
  p {
    color: $orange;
    @include breakpoint(large) {
      font-size: 1.2em;
      margin: 0.8em 0;
    }
  }
  .long-divider {
    width:50%;
    margin-bottom: 0.5em;
  }

  .short-divider {
    width: 30%;
    margin-top: 0;
  }
}

@include breakpoint(small only) {
  .home-section {
    background: {
      image: url(../images/tot-homepage-bg.jpg);
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }
  .home-content {
    padding-top: 1em;
    img {
      width: 90%;
      margin: 1em auto;
    }
    p {
      font-size: 0.85em;
    }
  }
}

@include breakpoint(medium) {
  .home-content {
    padding-top: 2em;
    img {
      width: 25%;
    }
  }
}