.gallery-section {
	background: {
		image: url(../images/tot-gallery-bg.jpg);
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	p {
		color: $orange;
	}
	.slick-slider {
		margin-top: 2em;
		padding: 0 2em;
	}
	.slick-slide img {
		margin-bottom: 1em;
		@include breakpoint(xlarge) {
			max-width: 75%;
		}
	}
	.slick-dots {
	 	li.slick-active button:before {
			font-size: 30px;
			line-height: 20px;
			color: white;
		}
		li {
			margin: 0 10px;
			button {
				&:before {
					font-size: 30px;
					line-height: 20px;
					color: white;
				}
			}
		}
	}
	@include breakpoint(small only) {
		.slick-slide {
			min-height: 100%;
		}
	}
	@include breakpoint(large only) {
		.slick-slide {
			height: 335px;
		}
	}
}