#page-full-width {
  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }

}

/* ==========================
    WhHEN & WHERE STYLES
========================== */

.when-section {
	background: {
		image: url(../images/tot-whenwhere-bg.jpg);
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	p {
		color: $orange;
	}
	h2 {
		color: $peach;
	}
	h3 {
		color: $white;
	}
	h5 {
		color: $white;
		font-family: $work;
	}
}

/* ==========================
      CONTACT STYLES
========================== */

.contact-section {
	background: {
		image: url(../images/tot-contactus-bg.jpg);
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	p {
		color: $white;
	}

	@include breakpoint(medium down) {
		.contact-content {
			margin-top: 2em;
		}
	}

	@include breakpoint(large) {
		.contact-content {
			margin-top: 7em;
		}
	}

	#wpcf7-f1878-o1 {
		width: 65%;
		margin: 1em auto;
		input[type='text'] {
			margin: 0;
		}
		textarea[rows] {
			height: 110px;
			margin-bottom: 0;
		}
	}
	@include breakpoint(medium down) {
    	#wpcf7-f1878-o1 {
			width: 85%;
		}
		p {
			font-size: 0.9em;
		}
  	}
}

::-webkit-input-placeholder {
   color: $orange;
   font-family: $work;
   letter-spacing: 3px;
   text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
   color: $orange;
   font-family: $work;
   letter-spacing: 3px;
   text-transform: uppercase; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $orange;
   font-family: $work;
   letter-spacing: 3px;
   text-transform: uppercase;  
}

:-ms-input-placeholder {  
   color: $orange;
   font-family: $work;
   letter-spacing: 3px;
   text-transform: uppercase;  
}

.signup-modal {
	margin-top: 2em;
	a {
		font-family: $nixie;
		color: $orange;
		//border: 1px solid $orange;
		padding: 0.8em 1em;
		background: transparent;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 1.1em;
		font-weight: 600;
		&:hover {
			background: rgba(250, 141, 41, 0.6);
		    color: white;
		}
	}

}

.mc4wp-form-fields {
	.second {
		margin-top: 1.5em;
	}
	input[type='text'] {
		color: $orange;
	}
	input[type="submit"] {
		font-family: $work;
		font-weight: 400;
		font-size: 1em;
		padding: 0.6em
	}
}

/* ==========================
      SPONSOR STYLES
========================== */

.sponsor-section {
	background: {
		image: url(../images/tot-sponsors-bg.jpg);
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	p {
		color: $orange;
	}
	h2 {
		color: $white;
		font-size: 2.1em;
	}
	.short-divider {
		border-bottom: 1px solid $peach;
	}
	.sponsor-row {
		padding: 2em 1em;
	}

	.sponsor-list {
		.column {
			position: relative;
			img {

			}
			.diagonal-line {
				width: 80%;
				position: absolute;
				right: -8rem;
				top: 3.5rem;
			}
		}
	}
	@media screen and (min-width: 1024px) and (max-width: 1324.5px) {
		.sponsor-list {
			padding: 6em 2em;
			.column {
				.diagonal-line {
					width: 90%;
					right: -5rem;
					top: 3rem;
				}
			}
		}
	}
	@media screen and (min-width: 1325px) {
		.sponsor-list {
			padding: 5em 2em;
			margin: 2em auto;
			.column {
				img {
					padding: 0 2em;
				}
				.diagonal-line {
					width: 80%;
					right: -9rem;
					top: 3.5rem;
				}
			}
		}
	}

	@media screen and (min-width: 1024px) and (max-width: 1325px) {

	}
}