/* =====================
    MIXINS
   =====================
*/

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition-all {
	-webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

@font-face {
  font-family: 'LHF Chicago Script';
  src: url('../../assets/webfonts/LHFChicagoScript.eot');
  src: url('../../assets/webfonts/LHFChicagoScript.eot?#iefix') format('embedded-opentype'),
    url('../../assets/webfonts/LHFChicagoScript.woff') format('woff'),
    url('../../assets/webfonts/LHFChicagoScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}