#footer-container {
	width: 100%;
	margin: 0 auto;
	// margin-top: 0 !important;
//	margin-top: rem-calc(60);
	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
	.submit a {
		color: $peach;
	}
	
	.moxy-text a {
		font-family: 'LHF Chicago Script';
		color: $orange;
		text-transform: capitalize;
	}

	.diagonal-line {
		width: 62%;
		margin: 0 auto;
	}

	@include breakpoint(medium down) {
		position: relative;
		bottom: 0.5em;
		z-index: 2;
		.submit {
			text-align: center;
			a {
				font-size: 1em;
				&:hover {
					@include transition(all 0.3s ease-in-out);
					color: $orange;
				}
			}
		}

		.social-links {
			text-align: center;
			a img {
				width: 55px;
				margin-top: 1em;
			}
		}

		.moxy-text {
			font-size: 1.75em;
			text-align: center;
		}
	}

	@include breakpoint(large) {
		.submit {
			padding-left: 3em;
			a {
				font-size: 1em;
				float: left;
			}
		}

		.social-links {
			float: right;
				a img {
				width: 40px;
				margin-top: -0.85em;
				&:hover {
					background: $orange;
					border-radius: 50%;
					@include transition(all 0.3s ease-in-out);
				}
			}
		}

		.moxy-text {
			font-size: 1.5em;
			padding-right: 5em;
			margin-left: -1em;
			&:hover {
				color: white;
				@include transition(all 0.5s ease-in-out);
			}
		}
	}
	@include breakpoint(large) {
		position: relative;
		bottom: 0.5em;
		z-index: 2;
	}
}

.trivia-form {
	text-align: center !important;
	h3 {
		font-size: 1.5em;
		color: $purple;
	}
	h5 {
		color: $orange;
		font-size: 1.1em;
	}
	p {
		font-size: 0.7em;
	}
	form {
		margin-top: 1em;
		padding: 1em;
	}
	input[type='text'], textarea {
		margin-bottom: 0;
	}
	input[type='text'] {
		height: 2.6em;
	}
	textarea[rows] {
		height: 111px;
	}
	::-webkit-input-placeholder {
	   color: $purple;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $purple;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $purple;
	}

	:-ms-input-placeholder {  
	   color: $purple; 
	}
	input[type="submit"] { 
		float: left
	}
}