.nav {
	margin: 1em 0 0.5em 0;
	text-align: center;
	li {
		list-style-type: none;
		border: 1px solid $white;
		padding: 0.8em 1.3em;
		margin: 0 1em;
		a {
			color: $white;
			text-transform: uppercase;
			letter-spacing: 5px;
			font-size: 1em;
		}
	}

	@include breakpoint(small only) {
		li {
			width: 80%;
			margin: 1em auto;
			text-align: center;
		}
	}


	@include breakpoint(medium) {
		li {
			display: inline-block;
			&:hover {
				background: rgba(250, 141, 41, 0.6);
				@include transition(all 0.3s ease-in-out);
			}
		}
	}

	@media screen and (max-width: 730px) {
		li {
			width: 60%;
			margin: 1em auto;
			text-align: center;
			a {
				font-size: 1em;
			}
		}
	}

	@include breakpoint(small only) {
		li {
			width: 80%;
			margin: 1em auto;
			text-align: center;
		}
	}

	@media screen and (min-width: 730px) and (max-width: 923px) {
		li {
			padding: 0.8em;
			margin: 0 0.5em;
			a {
				font-size: 0.85em;
				letter-spacing: 2px;
			}
		}
	}

}

.sub-head {
	background-color: white;
	h2 {
		color: $orange;
		font-size: 1.5em;
		font-family: $work;
	}

	@include breakpoint(medium down) {
		text-align: center;
		background-color: white;
		img {
			width: 60%;
		}
		.small-head {
			background-color: white;
			padding: 0.5em 0;
		}
		h2 {
			margin-top: 1em;
		}
	}

	@include breakpoint(medium only) {
		img {
			width: 30%;
		}
	}

	@include breakpoint(large) {
		img {
			width: 35%;
			margin: 0 0 0.75em 1em;
		}
		h2 {
			float: right;
			margin-right: 1em;
			margin-top: 2em;
		}
	}
}