.splash-bg {
	background-image: url(/wp-content/themes/FoundationPress/assets/images/tot-splash-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.text-center {
	text-align: center;
}

.logo-container img {
	margin: 2.5em 0 1em 0;
	width: 40%;
}

.splash-content {
	 h1 {
		color: #fa8d29;
		font-family: 'Paytone One', sans-serif;
		text-transform: uppercase;
	}
	p {
		font-family: 'Source Sans Pro', sans-serif;
		color: white;
		font-size: 1.1em;
		margin: 1.5em 0;
	}
}

.long-divider {
	border-bottom: 1px solid white;
	width: 70%;
	margin: 1em auto;
}

.short-divider {
	border-bottom: 1px solid white;
	width: 50%;
	margin: 1em auto;
}

.shortest-divider {
	border-bottom: 1px solid white;
	width: 25%;
	margin: 1em auto;
}

.icons {
	margin: 1em auto 2em auto;
	li {
		display: inline-block;
		list-style-type: none;
		a img {
			width: 85%;
		}
	}
}

.moxy-button {
	background: transparent;
	border: 2px solid white;
	padding: 0.3em 1em 0.1em 1em;
	color: white;
	font-family: 'LHFChicago';
	font-size: 2em;
	&:hover {
		color: white;
		background: rgba(255, 255, 255, 0.5);
	}
}

/* Media Queries */

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
	.splash-content {
		h1 {
			font-size: 1.8em;
		}
		p {
			font-size: 1em;
		}
	}

	.logo-container img {
		width: 70%;
	}

	.icons {
		margin: 1em auto 2em auto;
		li {
			a img {
				width: 65%;
			}
		}
	}
} 

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */